html {
        max-width: 1050px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
        color: #333;
        padding-bottom: 200px;
}

a {
        color: royalblue;
}

a:hover {
        color: lightblue; 
}
